# -*- coding: utf-8 -*-

## XMPP-адрес сервиса. С настройками по умолчанию в клиенты надо
## добавлять контакт bnw.localhost или bnw@bnw.localhost, если
## клиент ругается на неправильный jid.

srvc_name = 'bnw.localhost'

## Порт, на котором работает XMPP-компонент BnW.

srvc_port = 5347

## Пароль для авторизации компонента.

srvc_pwd = 'surelythisissecureenough'

## * Соответствующая конфигурация ejabberd в случае настроек по умолчанию:
## Открыть /etc/ejabberd/ejabberd.cfg, отыскать ejabberd_service и
## где-нибудь около ICQ-транспорта добавить:
##
## %% Blackjack'n'Whores
## {5347, ejabberd_service, [
##                           {ip, {127, 0, 0, 1}},
##                           {access, all},
##                           {shaper_rule, fast},
##                           {host, "bnw.localhost", [{password, "surelythisissecureenough"}]}
##                           ]},
##
## * Конфигурация prosody:
## Открыть /etc/prosody/conf.avail/localhost.cfg.lua и дописать в конец:
##
## Component "bnw.localhost"
##     component_secret = "surelythisissecureenough"

## Названия баз данных MongoDB, которые создаст BnW для своего пользования.

database = 'bnw'
database_fs = 'bnw_fs'

## Надо ли запускать веб-интерфейс к бнвачу. Это как <http://bnw.im/>,
## только свой собственный. В случае настроек по умолчанию, он будет
## располагаться по адресу http://localhost:7808

webui_enabled = True

## Порт веб-интерфейса.

webui_port = 7808

## Базовая часть URL веб-интерфейса, используется для формирования http-ссылок.
## В случае публичного сервиса, например, bnw.im, следует использовать:
## webui_base = 'bnw.im'

webui_base = 'localhost:7808'

## Базовый адрес для вебсокетов.

webui_wsbase = 'ws://localhost'

## Хостнейм.

hostname = 'localhost'

## Fuck

fuck_enabled = False

## Fuck-fuck-fuck

fuck_port = 8081
