# -*- coding: utf-8 -*-

### Copy this file to config.py and edit it in accordance with
### your preferences.


## BnW's XMPP address. With default settings you should add
## 'bnw.localhost' contact to the roster (or 'bnw@bnw.localhost'
## if your XMPP client complains about wrong jid).
srvc_name = 'bnw.localhost'

## Password used for component authorization.
srvc_pwd = 'surelythisissecureenough'

## XMPP server and port to connect to.
xmpp_server = '127.0.0.1:5347'

## Admin jid. For now used only for sending statistics in each bot answer.
admin_jid = 'admin@localhost'

## XMPP servers configuration for default variant of settings:
##
## * ejabberd
## Open /etc/ejabberd/ejabberd.cfg and somewhere near the ICQ transport
## configuration add:
##
## %% BnW component
## {5347, ejabberd_service, [
##                           {ip, {127, 0, 0, 1}},
##                           {access, all},
##                           {shaper_rule, fast},
##                           {host, "bnw.localhost", [{password, "surelythisissecureenough"}]}
##                           ]},
##
## * prosody
## Open /etc/prosody/conf.avail/localhost.cfg.lua and add this
## lines to the end:
##
## Component "bnw.localhost"
##     component_secret = "surelythisissecureenough"

## MongoDB's databases names which will be created and used by BnW.
database = 'bnw'
database_fs = 'bnw_fs'

## Is BnW's web interface should be enabled. In case of default
## settings it can be reached at http://localhost:7808/
webui_enabled = True

## BnW's web interface port. It's ok to keep default.
webui_port = 7808

## Web base URL, used for http links producing. In case of
## public service accessible at http://example.com/ you
## should write here domain name:
## webui_base = 'example.com'
webui_base = 'localhost:7808'

## Websockets base URL.
## In case of public service you should write here domain name:
## webui_wsbase = 'example.com'
webui_wsbase = 'localhost:7808'

## Path to xapian database used for keep searching index.
## It will be placed relative to /path/to/bnw/bnw_search/
## directory or you can specify absolute path.
search_db = 'bnw_xapian'

## Search language used for linguistic normalisation when
## creating index and searching.
## Available languages:
##     danish dutch english finnish french german german2 hungarian italian
##     kraaij_pohlmann lovins norwegian porter portuguese romanian russian
##     spanish swedish turkish
search_language = 'english'

## Search service port. It's ok to keep default.
search_port = 7850

## Enable or disable BnW's local RPC for debug and specify it's port.
rpc_enabled = False
rpc_port = 8081

## Set twisted manhole password (disabled if empty)
manhole = ''

## Enable printing stack trace before shutdown
trace_shutdown = False
