<div class='outerborder hentry message' id='{{ msg['id'] }}'>
    <div class='msg'>
        <img class='avatar avatar_ps' alt='avatar' src='{% if not secure %}http://{{ config.webui_static }}{% end %}/u/{{ msg['user'] }}/avatar/thumb' />
        {{ w.tags(msg['tags'], msg['clubs'], username) }}
        {% if msg.get('loltroll') %}
            <div class='pw entry-title entry-content'>{{ msg.get('loltroll') }}</div>
        {% else %}
            {% set linkified, thumbs = thumbify(msg['text'], msg.get('format'), secure) %}
            {% if thumbs %}<div class="imgpreviews">
                {% for thumb in thumbs %}<a class="imglink" href="{{ escape(thumb[0]) }}">
                    <img class="imgpreview imgpreview_ps" src="{{ escape(thumb[1]) }}"/>
                </a>{% end %}
                </div>{% end %}
            <div class='pw entry-title entry-content{{ ' hasthumbs' if thumbs else ''
            }}'{% if msg.get('format')=='moinmoin' %} style='white-space: pre-wrap;'{% end %}>{{ linkified }}</div>
        {% end %}
        {% if msg['recommendations'] and full %}
            <div class='recos'>
                Рекомендовали:
                {% for u in msg['recommendations'] %} {{ w.userl(u) }} {% end %}
            </div>
        {% end %}
        <div class='sign'>{{ w.msgl(msg['id'], True) }}
            <span class='msgb' id='msgb-{{ msg['id'] }}'></span>
            {% if not full %}({{ int(msg['replycount'])
            }}{% if msg['recommendations'] %}+{{ len(msg['recommendations']) }}{% end
            %}){% end %}
            / {{ w.userl(msg['user']) }} / {{ w.time(msg['date']) }}
        </div>
    </div>
</div>
