<div class='outerborder hentry comment_entry' id="{{ comment['id'].split('/')[1] }}">
<div class='comment'>
    <img class='avatar avatar_ps' alt='' src='{% if not secure %}http://{{ config.webui_static }}{% end %}/u/{{ comment['user'] }}/avatar/thumb' />
    {% set linkified, thumbs = comment['html']['secure' if secure else 'insecure'] %}
    {% if thumbs %}<div class="imgpreviews">
        {% for thumb in thumbs %}<a class="imglink" href="{{ escape(thumb[0]) }}">
            <img class="imgpreview imgpreview_ps" src="{{ escape(thumb[1]) }}" alt="{{ escape(thumb[0]) }}"/>
        </a>{% end %}
        </div>{% end %}
    <div class='comment_body pw entry-title entry-content{{
    ' hasthumbs' if thumbs else '' }}'{% if comment.get('format')=='moinmoin' %} style='white-space: pre-wrap;'{% end %}>{{ linkified }}</div>
    <div class='sign'>
        {{ w.msgl(comment['id'], True) }}
        <span class='cmtb' id='cmtb-{{ comment['id'] }}'></span>
        / {{ w.userl(comment['user']) }}
        {% if comment['replyto'] %} --&gt;
        <a href="#{{ comment['replyto'].split('/')[1] }}"
        class="msgid">#{{ comment['replyto']}}</a>{% end %}
        / {{ w.time(comment['date']) }}
    </div>
</div>
</div>
