{% extends "base.html" %}
{% block title %}BnW - Post{% end %}
{% block body %}
{% if error %}
    <div id="err_outer">
        <div id="err_middle">
            <div id="err_inner">
                <div id="err_inner2">
                    Ошибка<br/>
                    {{ error }}
                </div>
              </div>
        </div>
    </div>
{% else %}
<form action='/post' method='post'>
    <div class='outerborder'>
        <div class='msg'>
            {{ xsrf_form_html() }}
            <p>Бээнвач думает, что вас зовут {{ auth_user['name'] }}</p>
            <p>Теги (запятая): &nbsp;<input class='blueinput' name='tags' size='64' value="{{ escape(default_tags) }}"></p>
            <p>Клубы (запятая): <input class='blueinput' name='clubs' size='64' value="{{ escape(default_clubs) }}"></p>
            <p>Опции: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <label for="anon_post">Анонимно:</label>
                <input type="checkbox" name="anonymous" id="anon_post" class='styledcheckbox'><label for="anon_post"></label>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <label for="anon_comments">Анонимные комментарии:</label>
                <input type="checkbox" name="anoncomments" id="anon_comments" class='styledcheckbox'><label for="anon_comments"></label>
            </p>
            <p>Текст сообщения: <textarea name='text' class='blueinput' cols='64' rows='16'>{{ escape(default_text) }}</textarea></p>
            <input type='submit'/>
        </div>
    </div>
</form>
{% end %}
{% end %}
