<h1>Обращение основателя Бээнвача Stiletto</h1>
<hr/>
<p>Когда десять лет назад я начинал рассказывать людям о Википедии, на меня смотрели с усмешкой.^U«Ну ты понел»</p>
<p>На самом деле это обращение будет не о ДАЙ ДЕНЕГ. Денег проекту нахуй не надо ибо если бы мне платили столько, что я 
смог бы заниматься бээнвачом как работой, он бы довольно быстро стал бы скучным и неинтересным. Как и многие другие опенсорс-хуйни,
bnw пишется исключительно фана и лулзов ради. Денег на хостинг тоже не нужно ибо оно и сейчас далеко от предела возможностей сервера.</p>
<p>А что же нужно? А нужны питонобляди, умеющие писать годный код (а не такой как есть сейчас). Нужен хоть один человек 
понимающий в проектировании. Нужны гуру жабоскрипта чтобы написать хоть что-то более оптимальное чем теперешний jquery-ад для раскладки комментариев в
виде дерева. А еще конечно бы был я рад помощи дизайнера и верстальщика хэтээмэля руками.</p>
<p>«Ты что, совсем охуел, вообще ничего сам делать не можешь?» скажете вы. Могу, но свободного времени у меня не так уж и много и ближайший год чем дальше,
тем будет его меньше.</p>
<p>Все кто имеет желание и возможность помочь приглашаются в bnw@conference.jabber.ru - уютненькую конфочку красноглазого бээнвачика.</p>
<p>Всего наилучшего,</p>
<p><b>Джимми Уэ^W^WStiletto</b>, основатель Бээнвача</p>


