        body {
            margin: 0;
            background-color: #000;
            color: #e5e5e5;
            padding: 1em;
        }

        body, .pw, .blueinput, .styledbutton {
            font-family: Unifont, Monaco, Terminus, Consolas, monospace;
            font-size: 1em;
        }

        .bodyshit {
            padding: 1em;
        }

        .tagline {
            color: #B80049;
            text-decoration: none;
            margin-left: 1em;
            float: left;
        }

        .outerborder {
            background-color: #e5e5e5;
            /*padding-left: 1em;
            padding-right: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;*/
            padding: 1em;
        }

        .headlink {
            color: #000; background-color: #00CD00; text-decoration: none;
            padding-left: 0.5em;
            padding-right: 0.5em;
            margin-left: 0.5em;
        }
        a:hover {
            background-color: #0000CD;
            color: #FFFF00;
        }
        .blueinput {
            background-color: #00CDCD;
            color: #000;
            border: none;
            margin: 0;
            padding: 0;
            font-size: 1em;
        }

        .styledbutton {
            border: none;
            margin: 0;
            color: #000;
            padding: 0;
            background-color: #e5e5e5;
            font-size: 1em;
        }
        .styledbutton:hover, .styledbutton:focus {
            background-color: #00CDCD;
            color: #000;
        }
        .styledbutton:active {
            background-color: #000;
            color: #e5e5e5;
        }
        .msg {
            color: #000;

            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            border: thin solid black;
        }
        .comment {
            color: #000;

            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            border: thin solid black;
        }
        .pagelink {
            color: #FFFF00;
            background-color: #0000CD;
            text-decoration: none;
        }

        .imgpreviews {
            float: left;
        }
        .imgpreview {
            float: left;
            border: 3px solid #E5E5E5;
            max-height: 4em;
            margin-right: 1em;
        }
        .imgpreview:hover {
            border-color: #0000CD;
        }
        .imgpreview_ps {
            height: 3em;
            width: 4em;
        }

        /* Colors for dynamicly added or deleted elements */
        .outerborder_added {
            background-color: #C5C5C5;
        }
        .outerborder_deleted {
            background-color: #D78787;
        }
        .outerborder_added .imgpreview {
            border-color: #C5C5C5;
        }
        .outerborder_added .imgpreview:hover {
            border-color: #0000CD;
        }
        .outerborder_deleted .imgpreview {
            border-color: #D78787;
        }
        .outerborder_deleted .imgpreview:hover {
            border-color: #0000CD;
        }

        .tag {
            color: #CD0000;
        }
        .club {
            color: #00CD00;
        }

        .friendstable {
            color: #000;
        }
        .friendstable th {
            color: #FFFF00;
            background-color: #0000CD;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        .friendstable td:first-child {
            border-left: none;
        }

        .friendstable td {
            padding-left: 0.5em;
            padding-right: 0.5em;
            vertical-align: top;
        }

        .avatar {
            max-height: 2em; max-width: 6em; float: right; border: none;
        }
        .avatar_ps {
            width: 2em; height: 2em;
        }
		.avatar_big {
			max-width: 200px; max-height: 200px;
		}

        .sign { color: #505050; }
        .sign a { color: #3C4BB0; }
        .sign a:hover { color: #FFFF00; }

        #err_inner {
            background-color: #CD0000;
            padding: 1em;
            width: 40em;
            margin: 10em 25%;
        }
        #err_inner2 {
            padding: 1em;
            border: thin solid white;
            text-align: center;
        }

        .pw {
            white-space: pre-wrap;
            word-wrap: break-word;
            padding-bottom: 0.5em;
            margin: 0;
        }
        .hasthumbs {
            min-height: 4em;
        }

        /* Dialogs styles */
        .dlg_outer {
            position: absolute;
            display: none;
            padding: 1em;
            background-color: #E5E5E5;
            border: thin solid black;
        }
        .dlg_inner {
            font-family: monospace;
            padding: 1em;
            color: #000;
            border: thin solid black;
        }
        .dlg_centered {
            text-align: center;
        }
        .dlg_ok_cancel {
            padding-top: 1em;
            text-align: center;
        }

        #post_div {
            display: none;
        }
        #post_textarea, #comment_textarea {
            width: 100%;
        }
        #hide_post, #send_post, #send_comment {
            float: right;
        }

        .ajax_link {
            color: #00ADAD;
        }
        .ok_button {
            color: #008000;
        }
        .cancel_button {
            color: #FF0000;
        }
