        body {
            margin: 0;
            background-color: #000;
            color: #e5e5e5;
            padding: 1em;
        }

        body, .pw, .blueinput, .styledbutton {
            font-family: Unifont, Monaco, Terminus, Consolas, monospace;
            font-size: 1em;
        }

        .bodyshit {
            padding: 1em;
        }

        .tagline {
            color: #B80049;
            text-decoration: none;
            margin-left: 1em;
            float: left;
        }

        .outerborder {
            background-color: #e5e5e5;
            /*padding-left: 1em;
            padding-right: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;*/
            padding: 1em;
        }

        .headlink {
            color: #000; background-color: #00CD00; text-decoration: none;
            padding-left: 0.5em;
            padding-right: 0.5em;
            margin-left: 0.5em;
        }
        a:hover {
            background-color: #0000CD;
            color: #FFFF00;
        }
        .blueinput {
            background-color: #00CDCD;
            color: #000;
            border: none;
            margin: 0;
            padding: 0;
            font-size: 1em;
        }

        .styledbutton {
            border: none;
            margin: 0;
            color: #000;
            padding: 0;
            background-color: #e5e5e5;
            font-size: 1em;
        }
        .styledbutton:hover, .styledbutton:focus {
            background-color: #00CDCD;
            color: #000;
        }
        .styledbutton:active {
            background-color: #000;
            color: #e5e5e5;
        }
        .msg {
            color: #000;

            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            border: thin solid black;
        }
        .comment {
            color: #000;

            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            border: thin solid black;
        }
        .pagelink {
            color: #FFFF00;
            background-color: #0000CD;
            text-decoration: none;
        }

        .imgpreviews {
            float: left;
        }
        .imgpreview {
            float: left;
            border: 3px solid #E5E5E5;
            max-height: 4em;
            margin-right: 1em;
        }
        .imgpreview:hover {
            border-color: #0000CD;
        }
        .imgpreview_ps {
            height: 3em;
            width: 4em;
        }

        /* Colors for dynamicly added or deleted elements */
        /* Colors are ugly, kick me please for that. */
        .outerborder_added {
            background-color: #C5C5C5;
        }
        .outerborder_deleted {
            background-color: #D78787;
        }
        .outerborder_added .imgpreview {
            border-color: #C5C5C5;
        }
        .outerborder_added .imgpreview:hover {
            border-color: #0000CD;
        }
        .outerborder_deleted .imgpreview {
            border-color: #D78787;
        }
        .outerborder_deleted .imgpreview:hover {
            border-color: #0000CD;
        }

        .tag {
            color: #CD0000;
        }
        .club {
            color: #00CD00;
        }

        .friendstable {
            color: #000;
        }
        .friendstable th {
            color: #FFFF00;
            background-color: #0000CD;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        .friendstable td:first-child {
            border-left: none;
        }

        .friendstable td {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

        .avatar {
            max-height: 2em; max-width: 6em; float: right; border: none;
        }
        .avatar_ps {
            width: 2em; height: 2em;
        }
		.avatar_big {
			max-width: 200px; max-height: 200px;
		}

        .sign { color: #505050; }
        .sign a { color: #3C4BB0; }
        .sign a:hover { color: #FFFF00; }

        #err_inner {
            background-color: #CD0000;
            padding: 1em;
            width: 40em;
            margin: 10em 25%;
        }
        #err_inner2 {
            padding: 1em;
            border: thin solid white;
            text-align: center;
        }

        .pw {
            white-space: pre-wrap;
            word-wrap: break-word;
            padding-bottom: 0.5em;
            margin: 0;
        }
        .hasthumbs {
            min-height: 4em;
        }

        #dlg_outer { left: 0; top: 0; height: 100%; display: none; overflow: hidden; position: absolute; width: 100%; background-color: transparent;}
        /* #outer[id] {display: table; */

        #dlg_middle {position: absolute; top: 50%; width: 100%; } /* for explorer only*/
        #dlg_middle[id] {display: table-cell; vertical-align: middle; position: static;}

        #dlg_inner {position: relative; top: -50%; } /* for explorer only */
        #dlg_inner {padding: 1em; background-color: #E5E5E5; width: 30%; margin-left: auto; margin-right: auto; border: thin solid black;} /* for all browsers*/
        #dlg_inner2 {color: #000; font-family: monospace; border: thin solid black; padding: 1em; overflow: hidden;} /* for all browsers*/
        /* optional: #inner[id] {position: static;} */
        #dlg_centered {text-align: center;}
