/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block; padding: 0.5em;
  color: #333;
}

code .comment,
code .template_comment,
code .diff .header,
code .javadoc {
  color: #998;
  font-style: italic
}

code .keyword,
code .css .rule .keyword,
code .winutils,
code .javascript .title,
code .nginx .title,
code .subst,
code .request,
code .status {
  color: #333;
  font-weight: bold
}

code .number,
code .hexcolor,
code .ruby .constant {
  color: #099;
}

code .string,
code .tag .value,
code .phpdoc,
code .tex .formula {
  color: #d14
}

code .title,
code .id {
  color: #900;
  font-weight: bold
}

code .javascript .title,
code .lisp .title,
code .clojure .title,
code .subst {
  font-weight: normal
}

code .class .title,
code .haskell .type,
code .vhdl .literal,
code .tex .command {
  color: #458;
  font-weight: bold
}

code .tag,
code .tag .title,
code .rules .property,
code .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

code .attribute,
code .variable,
code .lisp .body {
  color: #008080
}

code .regexp {
  color: #009926
}

code .class {
  color: #458;
  font-weight: bold
}

code .symbol,
code .ruby .symbol .string,
code .lisp .keyword,
code .tex .special,
code .prompt {
  color: #990073
}

code .built_in,
code .lisp .title,
code .clojure .built_in {
  color: #0086b3
}

code .codeprocessor,
code .pi,
code .doctype,
code .shebang,
code .cdata {
  color: #999;
  font-weight: bold
}

code .deletion {
  background: #fdd
}

code .addition {
  background: #dfd
}

code .diff .change {
  background: #0086b3
}

code .chunk {
  color: #aaa
}
