В общем привет. Суть токова:
<p>
    Бээнвач это такой сервис по доставке баттхёрта^W^W^Wмикроблоггинга. Он опенсорсный, сделан на Python, Twisted и MongoDB.
</p>
<p>Чем блекджекошлюхуйк лучше остальных?</p>
<ul>
    <li>Он опенсорсоное говно. <a href="http://git.blasux.ru/gw?p=bnwach.git;a=blob;f=COPYING">Лицензия BSD без третьего условия</a>. Можно поучаствовать в разработке или просто поднять у себя bnw.</li>
    <li>В нем можно подписываться на теги и клубы. (Клубы кстати пока так и находятся в состоянии говна потому что я не продумал еще их принцип)</li>
    <li>В нем есть несколько вариантов jabber-интерфейса и будут еще варианты не-jabber.</li>
    <li>В нем есть немножко анонимности: С помощью ключа -a можно писать посты и комменты от лица Легиона.</li>
    <li>Ну и особенность конкретно этого сервиса на этом сервере: писать можно все что угодно. Ну за небольшими исключениями: 
    цп в микроблог не запостишь, но если постить всякий бред который володимир считает опасным для себя, я буду УДОЛЯТЬ.</li>
</ul>
<p>Главные идеи шлюхоблюйка в гибкости и распределенности. Распределенности пока нет совсем, но архитектура гондонится ориентируясь на неё.
Что такое распределенность в понимании пизданутого уебана? Это как jabber. Или почта. То есть есть куча разных инсталляций bnw и пользователи
их могут общаться между собой. Они могут подписываться на сообщения пользователей из других инсталляций, писать им комменты и прочее.
Помимо возможности покричать СТЕЛЕТТА ШЛЮХА ЖЕ и после кровавого зобана (на самом деле за это не банят) уйти на другой сервер этого сервиса
с более дружественным админом, распределения нагрузки и прочих няшностей распределенность, даже только еще планируемая, накладывает ограничения.
Ещё некоторые ограничения накладывает БД. Поэтому привожу список того, чего скорее всего никогда не будет:</p>
<ul>
    <li>Нельзя изменить ник. Точно так же как вы не можете изменить JabberID ибо он записан в ростерах ваших собеседиков.</li>
    <li>Не будет рекомендаций. Почему - чуть позже.</li>
    <li>Не будет последовательных номеров сообщений и комментариев. Просто mongodb не дает мне автоинкрементов, а делать это небезопасно или на костылях - не хочется.</li>
</ul>
<p>Так вот о рекомендациях: Для экономии трафика и снижения нагрузки, когда пользователь alice@bnw1 подписывается на bob@bnw2, на сервисе bnw2
должна создастся только запись о подписке сервиса bnw1 на пользователя bob. Каждая инсталляция хранит у себя список подписок своих пользователей
на удаленные сервисы. И когда bnw2 доставляет сообщение пользователя bob сервису bnw1, сервис bnw1 определяет которым из своих пользователей он
должен доставить это сообщение и доставляет. т.е. если теперь пользователь carol@bnw1 тоже подпишется на bob@bnw2, для сервиса bnw2 ничего не
изменится и нагрузка не возрастет. Просто сервис bnw1 теперь будет доставлять сообщения полученные от bob@bnw2 двум своим пользователям.
Общение между инсталляциями будет происходить овер жаббер. Протокола общения пока конечно же нет, предложения принимаются.
Так вот, во всю эту хуйню рекомендации не укладываются. Если знаете как вписать - предлагайте.</p>
<p>Теперь о том, как поучаствовать в разработке сей испиздывжопувыебности:</p>
<p>Репозитарий с исходниками bnw находится <a href="http://git.blasux.ru/gw?p=bnwach.git">здесь</a>. Чтобы поднять тестовую среду, тебе, мой 
красноглазый друг, понадобятся:</p>
<ul>
    <li>Python из второй ветки, желательно последний.</li>
    <li>Twisted, желательно десятый.</li>
    <li>Костыль для совмещения tornado и twisted -- http://github.com/dustin/tornado.git -- автор его похоже в сперме утоп, так что скоро я его наверное форкну.</li>
    <li>Драйвер mongodb для twisted -- http://github.com/fiorix/mongo-async-python-driver.git</li>
    <li>Любой jabber-сервер поддерживающий внешние компоненты. ejabberd is fine.</li>
</ul>
<p>Набыдлокодив патч можно кидаться им в меня.</p>
