        body {
            padding: 0em !important;
        }

        .bodyshit {
            padding: 0em !important;
        }

        .outerborder {
            padding: 0em !important;
        }

        .msg, .comment {
            padding: 0.5em !important;
        }
        
        #hide_post, #send_post, #send_comment {
            float: none !important;
        }
