<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}BnW - Somewhere in Nevada{% end %}</title>
    <link rel="stylesheet" href="{{ config.webui_static }}basestyle.css" type="text/css" />
    <link rel="http://oexchange.org/spec/0.8/rel/related-target" 
          type="application/xrd+xml"
          href="{{ config.webui_base }}oexchange.xrd"> 
    <style type="text/css">
    {% block basestyles %}
    /* dark: CD, light: FF, gray E5 */
    {% end %}
    {% block extrastyle %}
    {% end %}
    </style>
    <style type="text/css">
    {% if auth_user %}{{ auth_user.get('settings',{}).get('usercss','') }}{% end %}
    </style>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/dlgs/login.js"></script>
    {% block extrahead %}
    {% end %}
</head>
<body>
<div class='bodyshit'>
    <div style='text-align: left; overflow: hidden; width: 100%;'>
        <span style='float: right; padding-right: 1em;'>
            {% if auth_user %}
            <a href='/post' class='headlink'>Написать</a>
            <!-- только если ты регистрат  -->
            <a href='/blog' class='headlink'>{{ auth_user['name'] }}</a>
            <a href='/feed' class='headlink'>Лента</a>
            {% else %}
            <a href='#' class='headlink' onClick='login_win()'>Войти</a>
            {% end %}
            <a href='/c/bnw' class='headlink'>!bnw</a>
            <a href='/clubs' class='headlink'>Клубы</a>
        </span>
        <!-- <a href='/' style='color: #e5e5e5; text-decoration: none; margin-left: 1em;'>-->
        <a href='/' style='color: #B80049; text-decoration: none; margin-left: 1em;'>{{ ranq }}</a>
    </div>
{% block body %}
{% end %}
    <div style='overflow: hidden; width: 100%;'>
        {% block footerrow %}
        {% end %}
        <div style='float:right;'>
            <a href="http://ipv6-test.com/validate.php?url=referer"><img src="http://ipv6-test.com/button-ipv6-80x15.png" alt="ipv6 ready" title="ipv6 ready" border="0" style="vertical-align: middle;"></a>
            <a href="http://bnw.reformal.ru/" class='pagelink'>BnW на Реформале.</a>
            <!-- <a href="http://bnw.blasux.ru/static/" class='pagelink'>Сырцы и инфа о проекте</a> -->
            <a href="http://wiki.bnw.im/" class="pagelink">Викивач</a>
        </div>
    </div>
    <div style='text-align: center;'>
        Цоперайт &copy; 2010,2011 <a href='/u/stiletto'>@stiletto</a>.<br/>
        <!-- Пользуясь случаем передаю добра хостингу <a href="http://locum.ru?code=86ae196b0fc58a7f6798a45e16faf166ae42d02f">locum.ru</a>
            Ааа, блять, все равно нихуя мне не принесет эта партнерка. -->
    </div>
</div>

<div id="dlg_outer">
    <div id="dlg_middle">
        <div id="dlg_inner">
            <div id="dlg_inner2">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript"><!--
reformal_wdg_domain    = "bnw";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "bnw.blasux.ru";
reformal_wdg_ltitle  = "Баги и фичреквесты";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#00CD00";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "left";
reformal_wdg_charset = "utf-8";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#9FCE54";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895";
reformal_wdg_tbcolor  = "#FFFFFF";
 
 reformal_wdg_bimage = "785c6819375d7a07d2f875164a6d2eca.png";
  //-->
  </script>
  <!-- <script type="text/javascript" language="JavaScript" src="http://widget.reformal.ru/tab6.js"></script><noscript><a href="http://bnw.reformal.ru">bnw.blasux.ru feedback </a> <a href="http://reformal.ru"><img src="http://reformal.ru/i/logo.gif" /></a></noscript> -->
</body>
</html>


