<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}BnW — Somewhere in Nevada{% end %}</title>
    <link rel="stylesheet" href="{{ static_url("basestyle.css") }}" type="text/css" />
    <script type="text/javascript" src="{{ static_url("jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("jquery.cookie.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("dlgs/login.js") }}"></script>
    <script type="text/javascript">
            jQuery(window).load(function(){
                $(".avatar_ps").removeClass('avatar_ps');
                $(".imgpreview_ps").removeClass('imgpreview_ps');
            });
    </script>
    <style type="text/css">
    {% block basestyles %}/* dark: CD, light: FF, gray E5 */{% end %}
    {% block extrastyle %}{% end %}
    </style>
    <style type="text/css">
    {% if auth_user %}{{ auth_user.get('settings',{}).get('usercss','') }}{% end %}
    </style>
    {% block extrahead %}
    {% end %}
</head>
<body>
<div class='bodyshit {% block body_extraclass %}{% end %}'>
    <div style='text-align: left; overflow: hidden; width: 100%;'>
        <a href='/' class='tagline'>{{ ranq }}</a>
        <span style='float: right; padding-right: 1em;'>
            {% if auth_user %}
            <a href='/post' class='headlink'>Написать</a>
            <!-- только если ты регистрат  -->
            <a href='/blog' class='headlink'>{{ auth_user['name'] }}</a>
            <a href='/feed' class='headlink'>Лента</a>
            {% else %}
            <a href='#' class='headlink' onClick='login_win()'>Войти</a>
            {% end %}
            <a href='/c/bnw' class='headlink'>!bnw</a>
            <a href='/today' class='headlink'>Сегодня</a>
            <a href='/clubs' class='headlink'>Клубы</a>
        </span>
    </div>
{% block body %}
{% end %}
    <div style='overflow: hidden; width: 100%;'>
        {% block footerrow %}
        {% end %}
        <div style='float:right;'>
            <a href="http://ipv6-test.com/validate.php?url=referer"><img src="{{ static_url("button-ipv6-80x15.png") }}" alt="ipv6 ready" title="ipv6 ready" style="border: none; vertical-align: middle;" /></a>
            <a href="https://bitbucket.org/stiletto/bnw-android/downloads" class='pagelink'>BnW для ведрофона</a>
            <a href="http://bnw.reformal.ru/" class='pagelink'>BnW на Реформале</a>
            <a href="http://hive.blasux.ru/u/Stiletto/BnW" class="pagelink">Викивач</a>
        </div>
    </div>
    <div style='text-align: center;'>
        Цоперайт &copy; 2010-2012 <a href='/u/stiletto'>@stiletto</a>.<br/>
        <!-- Пользуясь случаем передаю добра хостингу <a href="http://locum.ru?code=86ae196b0fc58a7f6798a45e16faf166ae42d02f">locum.ru</a>
            Ааа, блять, все равно нихуя мне не принесет эта партнерка. -->
    </div>
</div>

<div id="dlg_outer">
    <div id="dlg_middle">
        <div id="dlg_inner">
            <div id="dlg_inner2">
            </div>
        </div>
    </div>
</div>
</body>
</html>
