{% extends "base.html" %}
{% block title %}
    BnW —
    {% if tag %} *{{ tag }}
    {% else %}{% if club %} !{{ club }}
    {% else %} Гланге
    {% end %}{% end %}
{% end %}
{% block extrahead %}
    <link rel="alternate" type="application/rss+xml" title="Последние сообщения BnW"
    href="/?format=rss" />
    <script type="text/javascript">
        var page_type = "main";
        {% if auth_user %}
        var message_info = {
            {% for m in messages %}
                "{{ m['id'] }}" : {
                    "user": "{{ m['user'] }}",
                    "is_recommended": {%
                    if auth_user['name'] in m['recommendations']
                    %}true{% else %}false{% end %},
                },
            {% end %}
        };
        {% end %}
    </script>
    {% include "ws_headers.html" %}
{% end %}
{% block body_extraclass %}hfeed{% end %}
{% block body %}
    <div class='outerborder info'>
        <div class='msg'>
            Привет{% if auth_user %}, {{ auth_user['name'] }}{% end %}, TbI — HRWKA!
            {{ users_count }}.0238 пользователей не могут ошибаться!<br />
            {% for mtag in toptags %}
                <div style='display: inline-block;'>
                {{ w.tag(mtag['_id']) }}<sup>{{ int(mtag['value']) }}</sup>
                </div>
            {% end %}
        </div>
    </div>
    <hr/>
    <div id='messages'>
    {% for msg in messages %}
        {{ modules.Message(msg) }}
    {% end %}
    </div>
{% end %}
{% block footerrow %}{% include "pagination.html" %}{% end %}
