{% extends "base.html" %}
{% block title %}BnW — {{ msg.get('user','None') if msg else 'None' }}: {{ w.shorttext(msg['text']) if msg else 'None' }}{% end %}
{% block extrahead %}
    <link rel="canonical" href="http://{{ config.webui_base }}/p/{{ msgid }}" />
    <script type="text/javascript">
        var page_type = "message";
        var message_id = "{{ msgid }}";
        var message_user = "{% if msg %}{{ msg['user'] }}{% end %}";
        {% if auth_user %}
        var is_recommended = {%
            if msg and auth_user['name'] in msg['recommendations']
            %}true{% else %}false{% end %};
        var is_subscribed = {% if is_subscribed %}true{% else %}false{% end %};
        {% end %}
        var comment_count = {{ len(comments) }};
        var comment_info = {
            {% if msg %}
            {% for c in comments %}
                "{{ c['id'] }}" : {
                    "date": {{ c['date'] }},
                    "replyto": {{ ('"'+c['replyto']+'"') if c['replyto'] else "null" }},
                    "num": {{ c['num'] }},
                    "user": "{{ c['user'] }}",
                },
            {% end %}
            {% end %}
        };
    </script>
    <script type="text/javascript" src="{{ static_url("tree-comments.js") }}"></script>
    {% include "ws_headers.html" %}
{% end %}
{% block body_extraclass %}hfeed{% end %}
{% block body %}
{% if not msg %}
    <div id="err_outer">
        <div id="err_middle">
            <div id="err_inner">
                <div id="err_inner2">
                    Ошибка<br/>
                    Сообщение с таким id не найдено
                </div>
              </div>
        </div>
    </div>
{% else %}
    {{ modules.Message(msg, full=True) }}
    <hr/>
    <div class="somenote" style="display: none;"></div>
    <div id="comments">
    {% for comment in comments %}
        {{ modules.Comment(comment) }}
    {% end %}
    </div>
    {% if auth_user %}
    <hr />
    <div class='outerborder' id='comment_div'>
        <div class='msg'>
            <form id='comment_form' action='/comment' method='post'>
                {{ xsrf_form_html() }}
                <input type='hidden' name='msg' value='{{ msgid }}'/>
                <textarea name='text' rows='5' class='blueinput'
                id='comment_textarea'></textarea>
                Id комментария: <input name='comment' class='blueinput' size='3' maxlength='3' />
                <input type='button' value='[&lt; Сбросить &gt;]' id='clear_replyto'
                class='styledbutton'/>
                <input type='submit' value='[&lt; Комментировать &gt;]' id='send_comment'
                class='styledbutton'/>
            </form>
        </div>
    </div>
    {% end %}
{% end %}
{% end %}
