<div class='outerborder'>
    <div class='msg'>
        <img class='avatar' style='max-height: 2em; max-width: 6em; float: right; border: none;' src='/u/{{ msg['user'] }}/avatar'/>
        {{ w.tags(msg['tags'],msg['clubs'],username) }}
        <pre class='pw'>{{ linkify(msg['text']) }}</pre>
        {% if msg['recommendations'] and full %}
            <div class='recos'>
                Рекомендовали:
                {% for u in msg['recommendations'] %} {{ w.userl(u) }} {% end %}
            </div>
        {% end %}
        <div class='sign'>{{ w.msgl(msg['id']) }} 
            {% if not full %}({{ int(msg['replycount']) }}{% if msg['recommendations'] %}+{{ len(msg['recommendations']) }}{% end %}){% end %}
             / {{ w.userl(msg['user']) }} / {{ w.time(msg['date']) }}
            {% if full %}
            <div style='float: right;'>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=stiletto" class="addthis_button">[+] Share</a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
                    <script type="text/javascript" src="/static/addthis_widget.js#username=stiletto"></script>
                    <!-- AddThis Button END -->
            </div>
            {% end %}
        </div>
    </div>
</div>
