{% extends "base.html" %}
{% block title %}BnW - @{{ username }} info{% end %}
{% block body %}
{% if not user %}
    <div id="err_outer">
        <div id="err_middle">
            <div id="err_inner">
                <div id="err_inner2">
                    Ошибка<br/>
                    Пользователь с таким id не найден
                </div>
              </div>
        </div>
    </div>
{% else %}
    <div class='outerborder'>
        <div class='msg' style='display: table; width: 100%;'>
            <div style='display: table-cell;'>
                <img src="/u/{{ username }}/avatar" style="border: none; max-height: 4.5em; max-width: 2em;">
            </div>
            <div style='display: table-cell; vertical-align: top; padding-left: 1em;'>
                Пользователь {{ w.userl(user['name']) }} - няшка. Он зарегистрировался здесь {{ regdate }}
                 и написал с тех пор <a href="/u/{{ username }}/">{{ messages_count }} сообщений</a>.
            </div>
        </div>
    </div>
    <hr/>
    <div class='outerborder'>
    <div class='msg' id="none">
    <table class='friendstable'>
        <tr><td> Подписки:</td>
            <td>{% for sub in subscriptions %}{{ w.userl(sub) }} {% end %}</td>
        </tr>
        <tr><td> Взаимные подписки:</td>
            <td> {% for sub in friends %}{{ w.userl(sub) }} {% end %} </td>
        </tr>
        <tr><td> Читатели: </td>
            <td>{% for sub in subscribers %}{{ w.userl(sub) }} {% end %}</td>
        </tr>
    </table>
    </div>
    </div>
{% end %}
{% end %}
