{% extends "base.html" %}
{% block title %}BnW - {{ username }}{% end %}
{% block extrahead %}
    <link rel="alternate" type="application/rss+xml" title="Поток сознания @{{ username }}" href="/u/{{ username }}/?format=rss" />
{% end %}
{% block body_extraclass %}hfeed{% end %}
{% block body %}
{% if not user %}
    <div id="err_outer">
        <div id="err_middle">
            <div id="err_inner">
                <div id="err_inner2">
                    Ошибка<br/>
                    Пользователь с таким id не найден
                </div>
              </div>
        </div>
    </div>
{% else %}
    <div class='outerborder'>
        <div class='msg'>
            УНЯНЯ. У нас есть <a href="/u/{{ username }}/info">немножечко инфы</a> об этом пользователе.
            Мы знаем, что он <a href="/u/{{ username }}/">понаписал</a> и что он <a href="/u/{{ username }}/recommendations/">порекомендовал</a>.
            А ещё у нас есть <a href="/u/{{ username }}/?format=rss">RSS</a>.
        </div>
    </div>
    <hr/>
    {% set hasmes = False %}
    {% for msg in messages %}
        {% set hasmes = True %}
        {{ modules.Message(msg,username=username) }}
    {% end %}
    {% if page>0 %}<a class='pagelink' href='?page={{ page-1 }}' rel='prev'>&lt;&lt; Позже</a> -- {% end %}{% if hasmes %}<a class='pagelink' href='?page={{ page+1 }}' rel='next'> Раньше &gt;&gt;</a>{% end %}
{% end %}
{% end %}
